.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.codeabout{
  font-size: 10px;
	padding: 1em;
	margin: 10px;
  background-color:cornsilk;
	/* background-color:var(--color-bluelight); */
  border-radius: 30px ;
  border: dotted 1px;
  width:min-content;
}